@import '~antd/dist/antd.css';
/*
.login-form {
    margin: 0 auto;
    height: 100vh;
    width: 30%;
}*/

#header {
    background-color: #1f1f1f;
    padding: 0% 15%;
}

#content {
    padding: 3% 30%;
}

.ant-btn-primary.login-btn{
    background-color: #1f1f1f;
    border-color: white;
}

.white-logo {
    color: #1f1f1f;
}

.login-and-signup {
    float: right;
}