@import '~antd/dist/antd.css';
/*
.login-form {
    margin: 0 auto;
    height: 100vh;
    width: 30%;
}*/

#header {
    background-color: #1f1f1f;
    padding: 0% 15%;
}

#content {
    padding: 3% 30%;
}

.ant-btn-primary.login-btn{
    background-color: transparent;
    border-color: #1f1f1f;
    color: #1f1f1f;
}

.ant-btn-link.home-logo {
    color: #ffffff;
    font-size: 30px;
}

.home {
    text-align: center;
    margin-top: 30%;
}

/* ----- Login Form ----- */
#login-form {
    width: 220px;
    margin: 0 auto;

}
#logout {
    float: right;
}
#login-form-container{
    width: 350px;
    height: 320px;
    border: #dadada 1px solid;
    border-radius: 4px;
    margin: 0 auto;
    margin-top: 100px;
    padding: 10px 0px;
}

.submit-btn {
    width: 100%;
    margin-bottom: 10px;
}

.login-title {
    text-align: center;
}

/* ----- Sign Up Form ----- */
#signup-form-container{
    width: 350px;
    height: 400px;
    border: #dadada 1px solid;
    border-radius: 4px;
    margin: 0 auto;
    margin-top: 100px;
    padding: 10px 0px;
}

/* ----- Todo List ----- */
#todo-list {
    margin: 30px 0px;
}

.todo-item {
    margin: 10px 0px;
}

#todo-list-title {
    margin-block-start: 0em;
    margin-block-end: 0em;
}

#create-todo-btn:hover{
    background: #d9f7be;
    border: 1px solid green;
    color: green;
}

#create-todo-btn:focus {
    border: 1px solid green;
    color: green;
}

.delete-todo-btn {
    background: #ff4d4f;
    border: 1px solid #ff4d4f;
}

.delete-todo-btn:hover, .delete-todo-btn:focus {
    background: #a8071a;
    border: 1px solid #820014;
    color: #f5f5f5;
}


.edit-delete-todo-space {
    float: right;
}